@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Galore</h1>
    <p>Welcome to the my jokes application. You can read, search for, and submit your own jokes on this site.</p>
</div>
